{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
<section style="margin-top:30px" class="slide1">
	<div class="wrap-slick1">
		<div class="slick1">
			{% for slider in sliders %}
			<div class="item-slick1 item1-slick1" style="background-image: url('{{slider.img.url}}');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							{{slider.desc}}
						</span>
					<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						{{slider.title}}
					</h2>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="categories-index" >
	<div class="container">
		<div class="row">
			{% for category in categoryes %}
			<div class="categories-card">
				<a href="{% url 'category_list' category.slug %}" class="categories-link">
					<img style="width: 100%; height: 200px;" class="categories-img" src="{{category.img.url}}" alt="{{category.img}}">
				</a>
				<p class="categories-descr">
					{{category.name}}
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="carousel">
	<div class="container">
		<h3 class="title">Наши клиенты</h3>
		<div class="swiper-container">
			<div style="display:flex; align-items:center" class="swiper-wrapper">
				{% for client in clients %}
				<div class="swiper-slide">
					<div class="card">
						<div class="img-wrapper">
							<img   src="{{client.img.url}}" alt="random image">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</section>

<section class="pay">
	<div class="container">
		<div class="row">
			<div class="pay-card">
				Доставка
			</div>
			<div class="pay-card">
				Прайс лист
			</div>
			<div class="pay-card">
				Без выходных
			</div>
		</div>
	</div>
</section>

<section class="my_map">
	<div style="display: flex; justify-content: center; height: 50vh" class="container">
		<div id="map" style="width: 70%; height: 100%"></div>
	</div>


	</div>
</section>

<footer class="footer">
	<div class="container">
		<nav class="footer-nav">
			{% for info in infos %}
			<ul class="footer-list">
				<li class="footer-item">
					<a href="tel:{{info.phone}}" class="footer-link">
						{{info.phone}}
					</a>
				</li>
				<li class="footer-item">
					{{info.address}}
				</li>
				<li class="footer-item">
					{{info.working_hours}}
				</li>
			</ul>
			{% endfor %}
		</nav>
	</div>
</footer>
<script src="https://api-maps.yandex.ru/2.1/?apikey=12b3858e-4965-4f3a-b661-e1a1d9b82281&lang=ru_RU" type="text/javascript">
</script>
<script type="text/javascript">
	// Функция ymaps.ready() будет вызвана, когда
	// загрузятся все компоненты API, а также когда будет готово DOM-дерево.
	ymaps.ready(init);
	function init(){
		// Создание карты.
		var myMap = new ymaps.Map("map", {
			center: [42.86610996417681,74.56579453139308],
			zoom: 15
		});
		var myPlacemark = new ymaps.Placemark([42.86485263764848,74.5650133380175], {
			balloonContentHeader: 'Prorab_home',
			balloonContentBody: 'Строй магазин',
			balloonContentFooter: 'Мы ждем вас!',
		});

		myMap.geoObjects.add(myPlacemark);

		myPlacemark.balloon.open();
	}
</script>

{% endblock %}